<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>Home</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <section class="main-content">
      <div class="container-fluid">
        <h3 class="mb-3 c">Home</h3>
        <p>Applicazione che riconosce gli articoli all'interno di una pagina di giornale riportandoli digitalmente in una pagina web. 
         <br> L'applicazione si divide in:</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">-applicazione mobile per scattare la foto all'articolo e inviare l'immagine al server;</li>
            <li class="list-group-item">-applicazione web che processa l'immagine acquisita e genera l'articolo digitale.</li>
          </ul>
Il server può acquisire una immagine alla volta. Ogni volta che si invia una immagine di un nuovo articolo, la precedente viene sovrascritta.</p>
      </div>

    </section>
  
    {% endblock %}
  </body>
</html>
