<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
    <title>Show Image</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <img src="{{ user_image }}" alt="User Image">
    <a href="{{ url_for('show_text') }}">Acquisisci testo</a>
          
    {% endblock %}
</body>
</html>
